.body{
    background-color: black;
   
}
.Title{
    border-color: rgb(19, 108, 143);
    margin-top: 3rem;
    margin-left: 1.5rem;
}
.label{
    border-radius: 15px;
    border-color: #5BDE8D;
}
.login{
    margin-top: 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 50%;
    height: 100%;
    color: white;
    margin-left: 14rem;
    border-radius: 25px;
    margin-left: 16rem;
}

.login form, label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 12rem;
   border-radius: 12px;
    padding: 10px;
  
}

.login label {
    margin-top: 34px;

}

.submit-button {
    font-size: 14px;
    color: black;
    background-color: #5BDE8D;
    margin-top: 3rem;
    align-self: center;
    padding: 8px 26px;
    border-radius: 18px;
    cursor: pointer;
    transition: all .2s ease-out;

    font-family: inherit;
    margin-bottom: 3rem;
    margin-left: 3.5rem;
 
  border: rgb(13, 116, 39) 5px solid;
  border-radius: 20px;
}

.submit-button:hover {
    opacity: .92;
    color: white;
}
